
.name-sec {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0);

  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
}

.name {
  width: 50vw;
  min-width: 100px;

  height: 400px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

  flex-wrap: wrap;

}

.name .word {
  display: flex;
  flex-direction: row;
}

.name .word div {
  height: 50px;

}


.t {
  color: rgb(39, 92, 136)
}

.o {
  color: rgb(39, 92, 136)
}

.m{
  color: rgb(218, 86, 86)
}