
.edu-sec {
  
    background-color: rgba(222, 222, 222, 1);
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .edu-date {
    color: rgb(120, 20, 20);
    font-size: x-large;
  }