.exp-sec {
  --margin: 50px;
  --text-color: white;

  background-color: rgb(250, 250, 250);
}

.exp-sec .timeline {
  width: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--main-color);
}

.exp-sec .wrapper::before{
  content: "";
  width: auto;
  height: auto;

  position: absolute;

  top:100%;
  left: 50%;
  transform: translateX(-50%);

  border: 20px solid;
  border-top-width: 20px;
  border-color: var(--third-color) transparent transparent transparent;
}

/* .exp-sec .wrapper:nth-child(even)::before{
  content: "";
  width: auto;
  height: auto;

  position: absolute;

  left: 100%;
  transform: translate(0%, 100%); 

  border: 10px solid;
  border-left-width: 20px;
  border-color: transparent transparent transparent var(--third-color);
} */

.exp-sec .wrapper{
  position: relative;
  margin-top: var(--margin);
  width: auto;
  height: auto;
  background: tomato;
  color: var(--text-color);
  
  transition: 1s ease-in-out;

  visibility: hidden;
}
.exp-sec .wrapper:nth-child(odd){
  transform: translateX(200%);
}
.exp-sec .wrapper:nth-child(even){
  transform: translateX(-200%);
} 

.exp-sec .in-view {
  visibility: visible;
}
.exp-sec .in-view:nth-child(odd) {
  transform: translateY(0%);
}
.exp-sec .in-view:nth-child(even) {
  transform: translateY(-0%);
}

.exp-sec .item {
  padding: 50px;
}

.exp-sec .wrapper:last-child {
  margin-bottom: var(--margin);
}

.exp-sec .tri {
  width:0;
  height: 0;

  border: 20px solid;
  border-top-width: 40px;
  border-color: var(--third-color) transparent transparent transparent;
}