.exp-sec {
  --margin: 50px;
  --text-color: white;

  background-image: url(../../images/water.png);
  background-size: cover;

  background-color: rgb(171, 204, 192);
}

.exp-sec .timeline {
  width: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--second-color);
}

.exp-sec .wrapper{
  position: relative;
  margin-top: var(--margin);
  background: var(--third-color);
  color: var(--text-color);
  
  transition: 1s ease-in-out;
}

.exp-sec .wrapper:last-child {
  margin-bottom: var(--margin);
}

.exp-sec .wrapper::before{
  content: "";
  width: auto;
  height: auto;

  position: absolute;

  top:100%;
  left: 50%;
  transform: translateX(-50%);

  border: 20px solid;
  border-top-width: 20px;
  border-color: var(--third-color) transparent transparent transparent;
}

.exp-sec .item {
  padding: 2vh;

  display: flex;
  flex-direction: column;
}

.exp-sec time{
  display: inline-block;
  white-space: nowrap;

  text-align: center;
  margin-bottom: 1vh;
}

.exp-sec span {
  display: inline-block;
  white-space: nowrap;

  text-align: center;
  margin-bottom: 1vh;
}

.exp-sec .tri {
  width:0;
  height: 0;

  border: 20px solid;
  border-top-width: 40px;
  border-color: var(--third-color) transparent transparent transparent;
}