.navbar {
    width: 100%;
    height: 5vh;
  
    display: flex;
    align-items: center;
    background-color: white;
  
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 30px;
    letter-spacing: .05em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0c8488;
  }