.navbar-text {
  color: white;

  min-width: 30px;
  width: 150px ;
  
  overflow: hidden;

  white-space: nowrap;
}

.tIcon:hover {
  cursor: pointer;
}

.navbar {

    position: fixed;

    width: 100vw;
    height: 5vh;

    overflow: hidden;
  
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
  
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 30px;
    letter-spacing: .05em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0c8488;

    z-index: 99;
  }

  .showColor {
    background-color: rgba(12, 155, 155, 1);
  }