.navbar-text {
  color: white;
}

.tIcon:hover {
  cursor: pointer;
}

.navbar {

    position: fixed;

    width: 100%;
    height: 5vh;
  
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
  
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 30px;
    letter-spacing: .05em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0c8488;
  }

  .showColor {
    background-color: rgba(12, 155, 155, 1);
  }