.info-sec {
    width: 100vw;
    background-image: url(../../images/space.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-size: 30px;
  
    background-color: rgba(33, 35, 35, 1);

    z-index: 2;
  }

  .info-sec .col-container {
    width: 60%;

    padding: 2vw;
    line-height: 1.8em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    text-align: center;

    background-color: var(--main-color);
  }

  .info-sec .passage-break {
    padding: 2vw;
  }
  
  .image-cropper {
    height: auto;
    position: relative;
  
    max-width: 200px;
    
  }
  
  .image-cropper img{
    display: block;
    height: auto;
    width: 100%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
    
    border: 7px solid black;
  }