.Largest-Container{
    background-image: url(./images/bg-01.jpg);
    background-size: cover;
    height: 250vh;
    z-index: -1;
  }

.text {
  font-family: 'proxima-nova';
  font-weight: 500;
  font-size: 30px;
  letter-spacing: .05em;
  line-height: 1.5em;
  color: #0c8488;

    
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Open Sans', sans-serif !important;
}

.small-headline{
  color: rgb(8, 82, 82);
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
}

.headline {
  color: rgb(8, 102, 102);
  font-size: 80px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 880;
}

.find-color {
  color: rgb(13, 182, 204)
}
  
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

