:root {
  --main-color: rgb(113, 122, 131);
  --second-color: #004f52;
  --third-color: rgb(150, 150, 150);
  --text-color: white;
}

body {
  margin: 0;
}

.largest-container{
    /* background-image: url(./images/space.png);
    background-size: 100vw 100vh; */
    background: rgb(233, 226, 214);
    background-attachment: fixed;

    z-index: -99;
  } 

.section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.headline {
  font-size: 80px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 880;

  color: var(--main-color);
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100vw;
  line-height: 1em;
  text-align: center;
}

.small-headline{
  color: var(--second-color);
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
}

.text {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: .02em;
  line-height: 1.7em;
  text-align: left;
  color: var(--text-color);
}
  
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

