.proj-sec {  
  background-image: url(../../images/wave.svg);

  width: 100vw;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  
.proj-sec ._headline{
  color: var(--main-color);

  padding-left: 5vw;
  padding-right: 5vw;

  min-width: 20vw;
}

.proj-sec ._content{
  padding-left: 5vw;
  padding-right: 5vw;

  min-width: 40vw;
}

.proj-sec .card{
  margin-bottom: 3vh;
}

.proj-sec .card:hover{
  background-color: var(--main-color);
}

.proj-sec .tags{
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.proj-sec .tag{
  margin-left: 1vw;
}

.proj-link {
  
  color: var(--text-color);
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1em;
}

