.proj-sec {  
    background-image: url(../../images/proj-bg-01.jpg);

    width: 100vw;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .proj-sec .row-container{
    width: 90vw;

    display: flex;
    justify-content: space-between;

    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  
  .proj-link {
    
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    line-height: 1em;
  }