.proj-sec {  
    background-image: url(../../images/proj-bg-01.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .proj-sec .headline {
    color: rgba(201, 89, 89, 0.9);
  }
  
  .proj-title {
    color: rgb(30, 82, 116);
    font-size: 35px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
  }
  
  .proj-link {
    
    color: rgb(30, 71, 109);
    font-size: 30px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
  }