.proj-sec {  
  background-image: url(../../images/proj-bg-01.jpg);

  width: 100vw;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  
.proj-sec ._headline{
  color: var(--main-color);

  padding-left: 5vw;
  padding-right: 5vw;
}

.proj-sec ._content{
  padding-left: 5vw;
  padding-right: 5vw;
}

.proj-sec .tags{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.proj-link {
  
  color: var(--text-color);
  font-size: 30px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1em;
}

